$break-small: 600px
    
.name-banner
    font-size: 50px
    @media screen and (max-height: $break-small)
        font-size: 30px

.rules-div
    padding-left: 30px
    padding-right: 30px

.player-side
    text-align: center
    font-size: 30px
    font-weight: bold
    margin-bottom: 0px

.player-bullets-text
    text-align: right
    padding-right: 0px

.last-move-pic
    width: 100px
    height: 100px
    display: block
    margin: auto
    @media screen and (max-height: $break-small)
        width: 50px
        height: 50px

.last-move-label
    text-align: center

.bullet-count
    margin-right: 3px
    height: 20px
    &:first-of-type
        margin-left: 10px

.winner-display
    background-color: #cfffd6

.player-display
    padding: 0px
    margin-bottom: 0px
    &:first-of-type
        border-right:1px solid #999
    
#CreateNewGame-CreateButton
    text-align: center
    button
        margin: 10px

#Choices-WaitingText
    margin-top: 50px
    @media screen and (max-height: $break-small)
        margin-top: 20px

#Bottom-Choices
    position: absolute
    bottom: 0
    width: 100%
    button
        margin: 20px 0px

#Choices-TurnNumber
    margin-bottom: 0px
    
#Waiting-CopyText
    margin-top:50px

#Waiting-UrlDiv
    text-align: center
    #Waiting-Url
        width: 70%

#Game-disconnectMessage
    margin-bottom: 10vh

.modal 
    position: fixed
    top: 0
    left: 0
    width:100%
    height: 100%
    background: rgba(0, 0, 0, 0.6)

    .modal-main 
        border-radius: 50px
        padding-top: 20px
        position: fixed
        background: white
        width: 80%
        height: auto
        top:50%
        left:50%
        transform: translate(-50%,-50%)

.display-block 
    display: block

.display-none 
    display: none

.display-hidden 
    visibility: hidden

.modal-close-button
    margin: 30px